/*------------------------------------------------GLOBALES----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    /*border-bottom-left-radius: 1rem;*/
}

.abuelos {
    max-width: 1800px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.sastre {
    height: 20rem;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
}

.globo {
    width: 4rem;
    font-size: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImagen {
    width: 30%;
}

.logoTexto {
    width: 70%;
    text-align: center;
}

.globo:hover {
    width: 16rem;
    font-size: 1.8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 1rem 1rem 2rem black;
}

.blogDeCafe {
    color: limegreen;
    position: relative;
    top:2%;
    left:5%;
}
.businessGroup {
    background-color: black;
    color: white;
    position: relative;
    top:1%;
    left:50%;
}
.diarioViajero {
    background-color: aquamarine;
    color: blue;
    position: relative;
    top:1%;
    left:30%;
}

.diarioViajero {
    background-color: aquamarine;
    color: blue;
    position: relative;
    top:1%;
    left:30%;
}
.grupoAlfares {
    background-color: #666666;
    color: gold;
    position: relative;
    top:2%;
    left:80%;
}

.restauranteYantando {
    color: orange;
    position: relative;
    top: 1%;
    left: 10%;
}