/* -------------------------------------------------- GLOBALES -------------------------------------------- */


* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: orange;*/
    font-family: 'Source Code Pro', monospace;
}

h1,
h2 {
    /*font-family: 'Kaushan Script', cursive;*/
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    color: orange;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h4 {
    font-style: italic;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: lime;
    border: 2px solid lime;
    transition: all 0.70s ease-in-out;
}

a:hover {
    background-color: black;
    border: 2px solid white;
}

img {
    border:2px solid lime;
}

/* -------------------------------------------------- LA CABECERA -------------------------------------------- */

header {
    overflow: hidden;
    width: 98%;
    padding: 1%;
    background-color: rgb(120, 0, 0);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
}

.logo {
    float: left;
    width: 25%;
}

.logoImagen {
    float: left;
    width: 75px;
    height: 75px;
}

.logoImagen img {
    border-radius: 40px;
}

.logoTexto {
    float: left;
    width: 208px;
    position: relative;
    top: 0px;
    left: -25px;
}

.logoTexto p {
    height: 0px;
    text-align: center;
    position: relative;
    top: -20px;
    left: 0px;
}

header nav {
    float: right;
    width: 74%;
    margin-top: 10px;
}

header nav ul {
    text-align: right;
}

header p {
    color: lime;
    font-size: medium;
}

header a {
    width: 210px;
    font-size: small;
}

header a p {
    font-size: small;
}

/* -------------------------------------------------- EL MAIN PARA TODOS -------------------------------------------- */

main {
    clear: both;
    overflow: hidden;
    width: 94%;
    margin-left: 3%;
    background-color: beige;
}

section {
    float: left;
    width: 100%;
}

/* -------------------------------------------------- EL MAIN PARA index.html -------------------------------------------- */

.relativas {
    float: left;
    width: 100%;
    height: 600px;
}

.granImagen {
    float: left;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.horaFeliz {
    float: left;
    width: 250px;
    height: 70px;
    background-color: rgba(120, 0, 0, 0.5);
    border: 2px solid rgb(120, 0, 0);
    color: black;
    text-align: center;
    position: relative;
    top: -40%;
    left: 40%;
}

/* -------------------------------------------------- EL FOOTER -------------------------------------------- */

footer {
    clear: both;
    overflow: hidden;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(120, 0, 0);
    color: orange;
    font-size: small;
}

footer nav {
    float: left;
    width: 60%;
    margin-left: 40%;
}

footer a {
    width: 70px;
}

.pie {
    float: left;
    width: 100%;
}

.pie1 {
    float: left;
    width: 50%;
}

.pie2 {
    float: left;
    width: 50%;
    text-align: right;
}

/* -------------------------------- SECCION trio para index.html  y Menu.html ---------------------------- */

.trio {
    float: left;
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
    background-color: #e5e5cc;
}

.trio article {
    float: left;
    width: 31%;
    margin-left: 2%;
}

.trio p {
    margin-bottom: 10px;
}

.reverso {
    float: left;
    width: 300px;
    margin-top: 10px;
    background-color: rgb(120, 0, 0);
    color: orange;
    text-align: center;
}

/* -------------------------- SECCION lista para Menu.html y Eventos.html --------- */

.lista {
    float: left;
    width: 100%;
}

.lista .imgIzquierda {
    float: left;
    width: 320px;
    height: 220px;
    padding: 10px;
}

.lista article {
    float: left;
    width: 98%;
    padding: 1%;
}


.lista article .izquierda {
    float: left;
    width: 65%;
}

.lista article .derecha {
    float: left;
    width: 30%;
    margin-left: 5%;
}

.lista p{
    margin-bottom: 7px;
}

.cita {
    float: left;
    width: 100%;
}

.cita .dia {
    float: left;
    width: 55%;
}

.cita .hora {
    float: left;
    width: 44%;
    background-color: rgb(120, 0, 0);
    color: orange;
    text-align: center;
}

/* -------------------------- SECCION carrusel para Eventos.html y Contacto.html --------- */

.carrusel {
    float: left;
    width: 98%;
    padding: 1%;
    background-color: #e5e5cc;  
}
