
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cajaPadre{
    width: 800px;
    height: 800px;
    margin-left: 50px;
    background-color: black;
    display: flex;
}

.cajaHijo{
    width: 200px;
    height: 200px;
    background-color: limegreen;
    border: 2px solid yellow;
    display: flex;
    justify-content: ;
    flex-direction: row;
    align-items: center;
    
}
.cajaHijo1{
    background-color: turquoise;
    border: 2px solid yellow;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    flex: 1 0 50%;
}
