* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------- GLOBALES -----------------------*/
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    text-shadow: -2px 2px 0 orange,
        2px 2px 0 orange,
        2px -2px 0 orange,
        -2px -2px 0 orange;
}

h2 {
    font-size: 2.7rem;
    color: orange;
}

h3 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
}

li {
    display: inline-block;
    width: 25%;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    display: inline-block;
    width: 100%;

    text-align: center;
    border-radius: 0.5rem;
    transition: all 0.80s ease-out;

}

nav a:hover {
    background-color: white;
    color: black;
}

img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.abuelos {
    max-width: 1800px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.fondoNegro {
    background-color: black;
    color: white;
}

.fondoFoto1 {
    height: 25rem;
    background-image: url(../img/FondoFoto1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.fondoFoto2 {
    height: 20rem;
    padding-left: 2%;
    background-image: url(../img/FondoFoto2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.centrado {
    text-align: center;
}

.imgArriba img {
    height: 16rem;
}

.contenidoDerecha {
    padding-right: 1%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
}

.boton {
    width: 8rem;
    text-align: center;
}

span {
    color: orange;
}

/*---------------- HEADER ------------------------*/

header {
    margin-top: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60%;
    margin-left: 1%;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.bienes {
    font-style: oblique;
    color: orange;
}

.raices {
    font-size: 2rem;
    font-weight: bold;
    color: lime;
}

.fondoFoto1 h1 {
    width: 60%;
}

/*--------- este nav vale para HEADER Y para FOOTER ----*/
nav {
    width: 40%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------------*/

/*---------------- SECTION trio ------------------------*/

.trio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.trio article {
    width: 32%;
    min-width: 25rem;
    margin-bottom: 1rem;
    padding: 1%;
    border-radius: 0.5rem;
}

/*---------------- SECTION duo ------------------------*/

.duo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.duo1 {
    width: 69%;
}

.duo2 {
    width: 30%;
}

.duo2 .fondoNegro {
    height: 32rem;
    padding-left: 5%;
    padding-right: 1%;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pareja {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.izquierda {
    width: 60%;
}

.izquierda img {
    width: 32rem;
    height: 16rem;
}

.derecha {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*---------------- FOOTER ------------------------*/

footer {
    height: 3rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.copyRight {
    margin-right: 1%;
}

/*---------------- SECTION lista ------------------------*/

.lista {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------- SECTION formulario ------------------------*/
input {
    width: 70%;
}

textarea {
    width: 70%;
    height: 6rem;
}

select {
    width: 70%;
}

.formulario {
    width: 70%;
    display: flex;
    flex-direction: column;
}

fieldset {
    padding: 2%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

legend {
    text-align: center;
}

.esteNo {
    width: 5%;
}


/*----------------------------------------------------------------*/
@media(max-width:1100px) {
    h2 {
        font-size: 2.2rem;
    }

    .duo2 .fondoNegro {
        font-size: 0.7rem;
    }

    .lista {
        width: 85%;
    }

}

@media(max-width:800px) {
    ul {
        flex-direction: column;
    }

    li {
        width: 100%;
    }

    footer {
        height: 8rem;
        justify-content: center;
    }

    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .duo2 .fondoNegro {
        font-size: 1.5rem;
    }

    .duo1 {
        width: 100%;
    }

    .duo2 {
        width: 100%;
    }

    .izquierda {
        width: 55%;
    }

    .derecha {
        width: 44%;
    }
    .izquierda img {
        width: 24rem;
        height: 12rem;
    }

}

@media(max-width:700px) {
    .izquierda {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    .derecha {
        width: 100%;
        margin-bottom: 1rem;
    }
    .izquierda img {
        width: 24rem;
        height: 12rem;
    }
    
    .lista {
        width: 98%;
    }

    input {
        width: 80%;
    }

    textarea {
        width: 80%;
        height: 6rem;
    }

    select {
        width: 80%;
    }

    .formulario {
        width: 80%;
    }
}

@media(max-width:350px) {
    body {
        font-size: 0.6rem;
    }

    ul {
        flex-direction: row;
    }

    li {
        width: 25%;
    }

    h1 {
        font-size: 1rem;
        text-shadow: none;
    }

    .fondoFoto1 {
        height: 10rem;
    }

    .fondoFoto2 {
        height: 10rem;
    }

    header {
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    footer {
        height: 8rem;
        font-size: 0.7rem;
    }

    input {
        width: 90%;
    }

    textarea {
        width: 90%;
        height: 6rem;
    }

    select {
        width: 90%;
    }

    .formulario {
        width: 90%;
    }

}