*{
    margin: 0;
    padding: 0;
}
body {
    background-color: chocolate;
}

h1,
h2 {
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
}

h1 {
    font-size: 60px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    float: left;
    width: 90%;
    margin-left: 5%;
    background-color: chocolate;
    position: sticky;
    top: 0;
    left: 0;
}

main {
    width: 90%;
    height: 3800px;
    margin-left: 5%;
    background-color: beige;
}

footer {
    width: 90%;
    margin-left: 5%;
    background-color: burlywood;
}

.logo {
    float: left;
    width: 312px;
    margin: 20px;
}

.logoImagen {
    float: left;
    width: 100px;
    height: 83px;
    padding: 2px;
}

.logoTexto {
    float: left;
    width: 208px;
    position: relative;
    top: 0px;
    left: -40px;
}
.logoTexto p{
    height: 0px;
    text-align: center;
    position: relative;
    top: -25px;
    left: 0px;
}
header nav {
    float: right;
    width: 820px;
    margin-top: 35px;
    margin-right: 35px;
}

header nav a {
    display: inline-block;
    width: 200px;
}